html {
  background-image: url('assets/landscape.jpg');
}

#board {
  margin: auto;
  top: 50px;
  border: 4px solid rgb(7, 26, 94);
  border-collapse: collapse;
}
#board td {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  padding: 0px;
  background-size: 80px 80px;
  background-repeat: no-repeat;
  background-position: center;
}

.white {
  background-color: rgb(230, 185, 85);
}
.black {
  background-color: rgb(124, 20, 32);
}
.active.white {
  background-color: rgb(129, 224, 133);
}
.active.black {
  background-color: rgb(23, 102, 27);
}
.previous.white {
  background-color: rgb(194, 116, 255);
}
.previous.black {
  background-color: rgb(94, 8, 161)
}
.possible.white {
  background-color: rgb(129, 184, 224);
}
.possible.black {
  background-color: rgb(23, 62, 102);
}

.white-text {
  color: rgb(255, 255, 255);
}
.black-text {
  color: rgb(0, 0, 0);
}

.inv {
  display: none;
}

#promo {
  position: absolute;
  top: 300px;
  left: 400px;
  z-index: 10;
  background-color: rgb(237, 234, 223);
  padding: 10px;
}
#promo div {
  width: 100px;
  height: 100px;
  margin: 25px;
  border: 1px solid black;
  background-size: 80px 80px;
  background-color: rgb(129, 184, 224);
  background-repeat: no-repeat;
  background-position: center;
}
#promo div:hover {
  background-color: rgb(23, 62, 102);
}
.white #Qp-queen {
  background-image: url("assets/white-queen.png");
}
.white #Rp-rook {
  background-image: url("assets/white-rook.png");
}
.white #Kp-knight {
  background-image: url("assets/white-knight.png");
}
.white #Bp-bishop {
  background-image: url("assets/white-bishop.png");
}
.black #Qp-queen {
  background-image: url("assets/black-queen.png");
}
.black #Rp-rook {
  background-image: url("assets/black-rook.png");
}
.black #Kp-knight {
  background-image: url("assets/black-knight.png");
}
.black #Bp-bishop {
  background-image: url("assets/black-bishop.png");
}

#new-but {
  position: absolute;
  left: 550px;
  top: 10px;
  width: 200px;
  height: 40px;
  background-color: rgb(67, 97, 250);
  border: 1px solid rgb(0, 9, 50);
  border-radius: 4px;
}
#new {
  position: absolute;
  left: 550px;
  top: 300px;
  width: auto;
  height: auto;
  padding: 40px;
  background-color: rgb(165, 210, 242);
  border: 1px solid rgb(0, 9, 50);
  border-radius: 20px;
  text-align: center;
}
#new h3 {
  margin-top: 0px;
}

/* pieces */
.whitepawn {
  background-image: url("assets/white-pawn.png");
}
.whiteknight {
  background-image: url("assets/white-knight.png");
}
.whitebishop {
  background-image: url("assets/white-bishop.png");
}
.whiterook {
  background-image: url("assets/white-rook.png");
}
.whitequeen {
  background-image: url("assets/white-queen.png");
}
.whiteking {
  background-image: url("assets/white-king.png");
}
.blackpawn {
  background-image: url("assets/black-pawn.png");
}
.blackknight {
  background-image: url("assets/black-knight.png");
}
.blackbishop {
  background-image: url("assets/black-bishop.png");
}
.blackrook {
  background-image: url("assets/black-rook.png");
}
.blackqueen {
  background-image: url("assets/black-queen.png");
}
.blackking {
  background-image: url("assets/black-king.png");
}
